// 排版
.fd-column {
    flex-direction: column;
}
.fd-row-re {
    flex-direction: row-reverse;
}
.d-box{
    display: block;
}
.d-flex {
    display: flex;
}

// 對齊
.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: end;
}

.jc-between {
    justify-content: space-between;
}

.jc-around {
    justify-content: space-around;
}

.ai-center {
    align-items: center;
}

.ai-end{
    align-items: end;
}

.ta-center {
    text-align: center;
}

.ta-start {
    text-align: start;
}

.m0-a{
    margin: 0 auto;
}

// 樣式
.btn {
    border-radius: 30px;
    padding: 0.5rem 0;
}


.h1-title{
    font-size: 2.5rem;
    font-weight: bold;
}
.h2-title{
    font-size: 2rem;
    font-weight: bold;
}
.h3-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.line-through{
    text-decoration: line-through;
}


// 字體
.font-w-300{
    font-weight: 300;
}


// 顏色
.gray-color {
    color: $gray-color;
}

.white {
    color: $white-color;
}


// 間距
.p-16-0{
    padding: 1rem 0;
}


// top
.mt-4{
    margin-top: 0.25rem;
}
.mt-8{
    margin-top: 0.5rem;
}



// left
.ml-8{
    margin-left: 0.5rem;
}
.pl-16{
    padding-left: 1rem;
}
.ml-20{
    margin-left: 1.25rem;
}
.ml-32 {
    margin-left: 2rem;
}
.ml-36{
    margin-left: 2.25rem;
}

// bottom
.mb-16 {
    margin-bottom: 1rem;
}
.mb-20{
    margin-bottom: 1.25rem;
}