// 排版
.fd-column{
    flex-direction: column;
}
.d-flex {
    display: flex;
}

// 對齊
.jc-center{
    justify-content: center;
}
.jc-end{
    justify-content: end;
}
.jc-between{
    justify-content: space-between;
}
.jc-around{
    justify-content: space-around;
}
.ai-center{
    align-items: center;
}
.ta-center{
    text-align: center;
}
.ta-start{
    text-align: start;
}

// 樣式



// 字體



// 顏色



// 間距




