<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex jc-between">
                <div class="d-flex ai-center">
                    <a href="./index.html" class="footer__home">Perfume-LOGO</a>
                    <p class="footer__copyright white ml-20">© 2020. All Rights Reserved.</p>
                </div>
                <nav class="d-flex">
                    <ul class="footer__ui d-flex ai-center">
                        <li>
                            <a class="footer__link white" href="#">Product</a>
                        </li>
                        <li>
                            <a class="footer__link white ml-36" href="#">Blog</a>
                        </li>
                        <li>
                            <a class="footer__link white ml-36" href="#">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>