<div class="header">
    <div class="container d-flex jc-between">
        <a href="./index.html" class="header__home">Perfume-LOGO</a>
        <nav class="d-flex">
            <ul class="header__ui d-flex ai-center">
                <li>
                    <a class="header__link nav-color" href="#">
                        <span class="header__icon material-symbols-outlined">
                            store
                        </span>Product
                    </a>
                </li>
                <li>
                    <a class="header__link nav-color ml-32" href="#">
                        <span class="header__icon material-symbols-outlined">
                            person
                        </span> log in
                    </a>
                </li>
                <li>
                    <a class="header__link nav-color ml-32" href="#">
                        <span class="header__icon material-symbols-outlined">
                            favorite
                        </span> Wishlist
                    </a>
                </li>
                <li>
                    <a class="header__link nav-color ml-32" href="#">
                        <span class="header__icon material-symbols-outlined">
                            shopping_cart
                        </span> Cart(3)
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>