.footer{
    padding-top: 1.25rem;
    padding-bottom: 1.125rem;
    background: $footer-color;
    &__home{
        width: 128px;
        height: 38px;
        @include img-hide-text;
        background-image: url("https://github.com/newhandarky/Perfume-shop/blob/main/assets/images/d%E2%80%99Perfume-white@2x.png?raw=true");
        background-size: cover;
    }

    &__link{
        display: flex;
        align-items: center;
        &:hover{
            color: $black-color;
        }
    }
    &__copyright{
        font-size: 14px;
        font-weight: 500;
    }

}