.main{
    background-image: url("https://github.com/newhandarky/Perfume-shop/blob/main/assets/images/index1.jpg?raw=true");
    @include bg-img-cover;
    &__bg{
        height: 870px;
    }
    &__text{
        font-size: 1.5rem;
    }
    &__link{
        margin-top: 1rem;
        font-weight: bold;
        border: 2px solid #FFFFFF;  
        font-size: 1.5rem;
        &:hover{
            color: $main-color;
            border: 2px solid $main-color;  
        }
    }
}

.main-product{
    &__card__article__block4{
        height: 1080px;
    }
    &__card__photo{
        height: 555px;
        width: auto;
        @include bg-img-cover;
    }
    &__text{
        font-size: 1.25rem;
    }
    &__link{
        display: inline-block;
        color: $gold-color;
        &:hover{
            text-shadow: 0.1em 0.1em 0.2em #fbcc53;
        }
    }
    &__photo1{
        background-image: url("https://github.com/newhandarky/Perfume-shop/blob/main/assets/images/index2.jpg?raw=true");
    }
    &__photo2{
        background-image: url("https://github.com/newhandarky/Perfume-shop/blob/main/assets/images/index3.png?raw=true");
        
    }
    &__photo3{
        background-image: url("https://github.com/newhandarky/Perfume-shop/blob/main/assets/images/index4.jpg?raw=true");
        background-position: left;
    }
    &__photo4{
        background-image: url("https://github.com/newhandarky/Perfume-shop/blob/main/assets/images/index5.jpg?raw=true");
        background-position: right;
        height: 1080px;
    }
    &__block4{
        
        padding: 5.75rem 0;
        height: 1080px;
    }
    &__plan{
        display: block;
        border: 2px solid $black-color;
        color: $black-color;
        &:hover{
            border: 2px solid $main-color;
            color: $main-color;
        }
    }
}


.saleItems{
    &__bg{
        background: $sale-items-bg;
    }
    padding: 2.5rem 0;
    &__h3{
        font-weight: 500;
        font-size: 1.5rem;
    }
    &__card__item1{
        @include bg-img-cover;
        height: 540px;
        background-image: url("https://github.com/newhandarky/Perfume-shop/blob/main/assets/images/index6.jpg?raw=true");

    }
    &__card__item2{
        @include bg-img-cover;
        height: 540px;
        background-image: url("https://github.com/newhandarky/Perfume-shop/blob/main/assets/images/index7.jpg?raw=true");
    }
    &__card__item3{
        @include bg-img-cover;
        height: 540px;
        background-image: url("https://github.com/newhandarky/Perfume-shop/blob/main/assets/images/index8.jpg?raw=true");
        mix-blend-mode:multiply;
    }
    &__soldOut__text{
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.recycling{
    padding: 3.75rem 0;
    &__link{
        display: inline-block;
        color: $gold-color;
        &:hover{
            text-shadow: 0.1em 0.1em 0.2em #fbcc53;
        }
    }
}

.subscribe{
    padding-bottom: 7rem;
    height: 600px;
    &__bg{
        background-image: url("https://github.com/newhandarky/Perfume-shop/blob/main/assets/images/index10.jpg?raw=true");
        @include bg-img-cover;
    }

}